.container{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}

.cardsContainer{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    border-style: solid;
  }
  
.card{
    height: 400px;
    z-index: 10;
    position: relative;
    border: 4px solid black;
    border-radius: 0.125rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 6rem;
    padding-bottom: 2.5rem;
    width: 18rem;
}


.iconDiv{
    color: black;
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 2.25rem; 
    margin-bottom: 0.5rem;
}

.redsquare{
    width: 90%;
    height: 90%;
    z-index: -10;
    position: absolute;
    top: -5px;
    left: 10px;
    background-color: #f87171; 
  }
  
.card h1{
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.25rem; 
}


.card > div:last-child {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
    top: 0;
    left: 0;
  }
  
  .card > div:last-child:hover{
    border: 4px solid #f87171; 
    transform: translateX(1rem) translateY(1rem);
  }
  

  @media (min-width: 1024px) {
    .container{
      height: 100vh;
    }
}
  