.container{
    background-color:  #e4e4e7; 
    z-index: -20;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    width: 100vw;
    padding-bottom: 30px;
  }

.para{
    position: relative;
    width: fit-content;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.para ::before{
    content: "";
    background-color: black;
    width: 30px;
    height: 2px;
    position: absolute;
    left: -2.75rem;
    top: 0.8rem;
}

.skillsWrap {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; 
    position: relative;
    width: fit-content;
    font-size: 1.25rem; 
    margin-top: 1.5rem; 
  }
  


.skillsWrap ::before{
  content: "";
  background-color: black;
  width: 30px;
  height: 2px;
  position: absolute;
  left: -2.75rem;
  top: 1.4rem;
}

.badgeWrap div{
    display: inline-block;
    padding: 5px 11px;
    background: -webkit-linear-gradient(to right, #fac37b, transparent);
    background: -moz-linear-gradient(to right, #fac37b, transparent);
    background: -o-linear-gradient(to right, #fac37b, transparent);
    background: linear-gradient(to right, #fac37b, transparent);   
    border-radius: 40px;
    margin: 5px;
  }


.btn {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: black;
      color: white;
      border-radius: 0.25rem;
      margin-inline-start: 3.5rem;
      margin-top: 1.5rem;
}

.btn:hover{
  background-color: #f97316;
}

.imageContainer {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}



.styleBox {
  position: absolute; 
  z-index: 10; 
  right: 100px; 
  height: 70%; 
  top: 20%; 
  width: 300px; 
  background-color: white;
  box-sizing: border-box; 
  border-bottom-color: #fca5a5; 
  border-bottom-width: 8px; 
}



.outerTextContainer{
  width: 100vw;
  display: flex;
}

.innerTextContainer{
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.imageBorder {
  width: 14rem; 
  margin-top: 13rem; 
}






  @media (min-width: 768px) {
    .para {
      left: 3rem; 
    }

    .skillsWrap {
        left: 3rem; 
      }

      .imageContainer {
        align-items: flex-start;
      }

    .outerTextContainer{
        align-items: center;
      }

      .innerTextContainer {
        margin-inline-start: 5rem;
        padding-left: 0;
        padding-right: 0;
        width: 66.666667%;
      }

      .imageBorder{
        width: 18rem; 
      }

      .styleBox {
        right: 0; 
        height: 90%; 
        top: 5%; 
      }

  }


  


  
  @media (min-width: 1024px) {
    .container {
      height: 100vh; 
    }

    .imageContainer {
      width: 500px;
    }

    .styleBox {
      right: 0;
    }

    .outerTextContainer{
      width: 700px;
    }
  
  }
  